<!-- @format -->

{% include 'layout.html' %}

<div class="container">
	<div class="card">
		<div class="card-header">Change Password</div>
		<div class="card-body">
			{% if errmsg %}
			<div class="alert alert-danger" role="alert">{{errmsg}}</div>
			{% endif %}

			<form method="POST" action="/user/change-password">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Username: {{user.username}}</label>
						<!-- <input type="text" class="form-control" name="username" value="{{user.username}}" required /> -->
					</div>
				</div>
				<div class="form-group">
					<label>Old Password</label>
					<input
						type="password"
						class="form-control"
						name="old_password"
						autofocus
						required
					/>
				</div>
				<div class="form-group">
					<label>New Password</label>
					<input
						type="password"
						class="form-control"
						name="new_password"
						required
					/>
				</div>
				<div class="form-group">
					<label>Verify Password</label>
					<input
						type="password"
						class="form-control"
						name="confirm_password"
						required
					/>
				</div>
				<button type="submit" class="btn btn-primary">Change Password</button>
			</form>
		</div>
		<!-- <div class="card-footer text-muted">
			<a href="/auth">Already have an account?</a>
		</div> -->
	</div>
</div>
