{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">

            {% if msg %}
            {% if msg == 'Logout Successful' or msg == 'User successfully created' or msg == "User password successfully changed" %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}

            <form method="POST" action="/auth">
                <div class="form-group">
                    <label>Username</label>
                    {% if username %}
                    <input type="text" class="form-control"
                           name="email" required value="{{username}}">
                    {% else %}
                    <input type="text" class="form-control"
                           name="email" required>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Password</label>
                    {% if username %}
                    <input type="password" class="form-control" name="password" autofocus required>
                    {% else %}
                    <input type="password" class="form-control" name="password" required>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="register"> Register? </a>
        </div>
    </div>
</div>

